<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<h1 text-align="center">Login</h1>
<main>
    <form action="" target="_blank" method="get">
        <div>
            <div class="navbar">
                <nav>
                    <ul>
                        <li><a href="#about" class="btn">Home Page</a></li>
                        <li><a href="contact.html" class="btn" target="_blank">Contact</a></li>
                        <li><a href="regtable.html" class="btn" target="_blank">Registration</a></li>
                        <li><a href="login.html" class="btn" target="_blank">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="shape">
            <br>
            <p>Email:</p>
            <table>
                <tr>
                    <td><input type="email" name="email" id="email" placeholder="example@mail.com" required></td>
                </tr>
            </table>

            <p>Password:</p>
            <table>
                <tr>
                    <td><input type="password" name="pass" id="pass" required
                            pattern="(?=*d) (?=.[a-z]) (?.*[A-Z]).(8,)"></td>
                </tr>
            </table>

            <br>

            <input type="checkbox" value="">Remember me</td>

            <br>
            <br>
            <br>

            <input type="submit" value="Sign In" class="sign"></td>

            <br>
            <br>

            <a href="">Forget Password?</a>
            <p>Don't have an account? &nbsp <a href="">Create Account</a></p>
            <br>
            <br>
            <br>
            <br>

            <div>
                <footer class="footer">© Elizabeth Ojetunji, June 2022</footer>
            </div>
        </div>
    </form>
</main>
</body>
</html>